#footerCont {
  display: block;
  margin: 0px auto;
  position: relative;
  width: fit-content;
}

#contactCont {
  position: relative;
  float: left;
  width: fit-content;
}

#contactInfoCont {
  position: relative;
  float: left;
  width: 400px;
  margin-left: 5px;
  margin-top: 63px;
}

#formLoading {
  position: relative;
  display: none;
  width: 34px;
  height: 34px;
  float: left;
  margin-top: -33px;
  margin-left: 360px;
}

h1.footer {
  margin: 10px 0px;
}

textarea.footer, input.footer {
  border: 1px solid #D85C15;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #404040;
  width: 600px;
  resize: none;
}

#submitButton {
  width: 100px;
  display: block;
  margin: 0px auto;
}

.contactInfo {
  position: relative;
  background-image: linear-gradient(to right, rgba(216, 92, 21, 1), rgba(216, 92, 21, 0.3));
  height: 65px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  padding: 5px;
}

.contactInfoText {
  position: relative;
  float: left;
  color: white;
}

.contactInfoTextCont {
  position: relative;
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 12.5px;
}

.large {
  width: 300px;
}

.small {
  width: 73px;
  height: 73px;
  float: left;
  background-image: none;
}

.icon {
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  margin: 0;
}

.iconSvg {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 17.5px;
  fill: white;
}

.iconSvgLink {
  position: relative;
  fill: white;
  width: 30px;
  height: 30px;
  margin: 17.5px;
}

.loader {
  font-size: 10px;
  margin: 0px;
  text-indent: -9999em;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #d85c15;
  background: -moz-linear-gradient(left, #d85c15 10%, rgba(216,92,21, 0) 42%);
  background: -webkit-linear-gradient(left, #d85c15 10%, rgba(216,92,21, 0) 42%);
  background: -o-linear-gradient(left, #d85c15 10%, rgba(216,92,21, 0) 42%);
  background: -ms-linear-gradient(left, #d85c15 10%, rgba(216,92,21, 0) 42%);
  background: linear-gradient(to right, #d85c15 10%, rgba(216,92,21, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #d85c15;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
