#footerCont {
  display: block;
  margin: 0px auto;
  position: relative;
  width: fit-content;
}

#contactCont {
  position: relative;
  float: left;
  width: fit-content;
}

#contactInfoCont {
  position: relative;
  float: left;
  width: 400px;
  margin-left: 5px;
  margin-top: 63px;
}

h1.footer {
  margin: 10px 0px;
}

textarea.footer, input.footer {
  border: 1px solid #D85C15;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #404040;
  width: 600px;
}

#submitButton {
  width: 100px;
  display: block;
  margin: 0px auto;
}

.contactInfo {
  position: relative;
  background-image: linear-gradient(to right, rgba(216, 92, 21, 1), rgba(216, 92, 21, 0.3));
  height: 65px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  padding: 5px;
}

.contactInfoText {
  position: relative;
  float: left;
  color: white;
}

.contactInfoTextCont {
  position: relative;
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 12.5px;
}

.large {
  width: 300px;
}

.small {
  width: 73px;
  height: 73px;
  float: left;
  background-image: none;
}

.icon {
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  margin: 0;
}

.iconSvg {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 17.5px;
  fill: white;
}

.iconSvgLink {
  position: relative;
  fill: white;
  width: 30px;
  height: 30px;
  margin: 17.5px;
}
