@import "text.css";

header {
  grid-area: head;
  height: auto;
  background-image: url("../images/headerBackground.JPG");
  background-size: cover;
}

nav {
  position: fixed;
  height: 50px;
  width: 100%;
}

main {
  grid-area: main;
}

footer {
  grid-area: foot;
  height: 200px;
}

body {
  display: grid;
  grid-template-areas:
    'head'
    'main'
    'foot';
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}

.mainCont {
  border: 1px solid blue;
}

#titleCont {
  position: relative;
  width: auto;
  margin-top: -40px;
}

#titleUnderline {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  height: 3px;
  background-color: white;
  padding: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000000;
}
